@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #8E2424;
    --cor-secundaria:#101828;
    --cor-terciaria:#667085;

    --font-principal: "Inter", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
  }

.cabecalho__links {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}

.cabecalho__links__logo {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.logotipo {
    margin-right: 5rem;
}

.logo__links__link {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--font-principal);
}

.login__cadastro{
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.login__cadastro__button__entrar {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--font-principal);
    font-size: 1rem;
}

.login__cadastro__button__cadastrar {
  text-decoration: none;
  font-family: var(--font-principal);
  background-color: var(--cor-primaria);  
  padding: 0.8rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 6.25rem;
    height: 25.438rem;
}

.sobre__nos {
    font-family: var(--font-principal);
    font-size: 1rem;
    color: var(--cor-primaria);
}

h1 {
    font-family: var(--font-principal);
    font-size: 3rem;
    font-weight: 600px;
}

.p__sobre {
    font-family: var(--font-principal);
    font-size: 1.25rem;
    color: var(--cor-terciaria);
    width: 49.438rem;
}

.metricas {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.metricas__valor {
    width: 17.5rem;
    height: 12rem;
}

.metricas__valor__titulo {
    color: var(--cor-primaria);
    font-size: 3.75rem;
    padding-bottom: 0.75rem;
}

.metricas__valor__info {
    font-family: var(--font-principal);
    font-size: 1.125rem;
    font-weight: 500px;
}

.p__metricas {
    font-family: var(--font-principal);
    font-size: 1rem;
    color: var(--cor-terciaria);
    padding-top: 0.5rem;
}

.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 112.375rem;
    margin-top: 6rem;
    gap: 1.25rem;
}

.vagas__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.vagas__aviso {
    font-family: var(--font-principal);
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--cor-primaria);
    background-color: #8E24240D;
    border-radius: 1rem;
    padding: 0.25rem, 0.75rem, 0.25rem, 0.75rem;
    width: 7.813rem;
    height: 1.75rem;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.vagas__titulo {
    font-family: var(--font-principal);
    font-size: 2.25rem;
    color: var(--cor-secundaria);

}

.p__vagas {
    font-family: var(--font-principal);
    font-size: 1.25rem;
    color: var(--cor-terciaria);
}

.baner {
    width: 100%;
    height: 25rem;
    top: 18.625rem;
    left: 7rem;
    margin-top: 4rem;
}

.container__vagas__card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 4rem;
}

.titulo__cards {
    font-family: var(--font-principal);
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--cor-secundaria);
}

.vagas__card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;;
    border: 1px solid #EAECF0;
    width: 48rem;
    height: 8.5rem;
    padding: 1.5rem;
    gap: 1.5rem;
}

.vagas__card__titulo {
    font-family: var(--font-principal);
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--cor-secundaria);
}

.p__container {
    display: flex;
    gap: 1.5rem;
}

.vagas__card__p {
    font-family: var(--font-principal);
    font-size: 1rem;
    color: var(--cor-terciaria);
}

.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #C3191908;
    width: 76rem;
    height: 25.25rem;
    padding: 4rem 0rem 4rem 0rem;
}

.depoimentos__titulo {
    font-family: var(--font-principal);
    color: var(--cor-primaria);
    font-size: 0.875rem;
    font-weight: bold;
}

.depoimentos__depoimento {
    font-family: var(--font-principal);
    font-size: 2.25rem;
    color: var(--cor-secundaria);
    width: 68rem;
}

.depoimentos__perfil__informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.depoimentos__nome {
    font-family: var(--font-principal);
    font-size: 1rem;
    color: var(--cor-secundaria);
    font-weight: bold;
}

.depoimentos__p {
    font-family: var(--font-principal);
    font-size: 0.875rem;
    color: var(--cor-terciaria);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    background-color: #F9FAFB;
    padding: 6rem 0rem 6rem 0rem;
    width: 100%;
    margin-top: 6rem;
}

.titulo__footer {
    font-family: var(--font-principal);
    font-size: 2.25rem;
    color: var(--cor-secundaria);
}

.footer__p {
    font-family: var(--font-principal);
    font-size: 1.25rem;
    color: var(--cor-terciaria);
}

.caixa__texto {
    display: flex;
    gap: 1rem;
}

input {
    font-size: 1rem;
    width: 22.5rem;
    border-radius: 0.5rem;
    border: 1px solid #D0D5DD ;
    font-family: var(--font-principal);
    color: var(--cor-terciaria);
    padding-left: 1rem;
    box-shadow: 2px 2px 2px #1018280D;
}

.direitos__autorais {
    font-family: var(--font-principal);
    font-size: 1rem;
    color: var(--cor-terciaria);
}